.todoItemText {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.todoItemTitle {
    font-size: 20px;
    font-weight: bold;
}

.todoItemContent {
    font-weight: thin;
    padding-left: 15px;
    color: grey;
}